In [1]:
# Import libraries
import importlib
importlib.import_module("json_dataframe")

import json_dataframe
import pandas as pd
import numpy as np

In [3]:
json_dataframe.clean_dataset("sold.json")

Renaming columns...
Dropping irrelevant cols & rows...
Extracting numeric information...
Setting binary columns...
Create dummy columns for categorical columns...
Please provide Google Maps API key:
········
Fetch coordinates and bin into neighborhoods...
Successfully exported to '..\data\sold.pkl'.

In [4]:
n1 = pd.read_pickle("../data/test.pkl")
n2 = pd.read_pickle("../data/sold.pkl")

In [7]:
pd.concat([n1, n2]).fillna(0).reset_index(drop=True)

,address,asking_price,price_m2,days_online,service_fees_pm,new_build,build_year,land_m2,property_m3,living_m2,...,ne_g-buurt_west,ne_houthavens_west,ne_noordoever_sloterplas,ne_noordoostkwadrant_indische_buurt,ne_orteliusbuurt_midden,ne_paramariboplein_eo,ne_steigereiland_zuid,ne_tuindorp_frankendael,ne_westlandgrachtbuurt,ne_willibrordusbuurt
0,"Bosplaat 25, 1025 AR, Amsterdam",700000,5833,14.0,0,0,1973,160,273,120,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Zuideinde 355, 1035 PD, Amsterdam",695000,6950,1.0,0,0,1952,307,350,100,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Emanzana 60, 1103 AV, Amsterdam",435000,3063,13.0,0,0,2007,125,440,142,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Brigantijnkade 46, 1086 VB, Amsterdam",625000,4340,14.0,14,0,2009,133,519,144,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Twellostraat 15, 1107 PG, Amsterdam",425000,3484,14.0,0,0,1984,120,410,122,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,"Weesperzijde 112, 1091 EN, Amsterdam",1100000,8800,14.0,34,0,2007,114,437,125,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,"Meteorenweg 86, 1033 HG, Amsterdam",325000,5159,12.0,0,0,1922,136,245,63,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,"Lutmastraat 237, 1074 TX, Amsterdam",640000,9143,14.0,0,0,1895,77,270,70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,"Coronelstraat 3, 1063 EP, Amsterdam",450000,3750,7.0,0,0,1956,79,405,120,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,"Lisdoddelaan 35, 1087 KB, Amsterdam",1525000,6100,9.0,0,0,2004,330,928,250,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,"Buiksloterbreek 41, 1034 XC, Amsterdam",475000,5220,9.0,0,0,1994,51,379,91,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,"Guus Trestorffstraat 14, 1063 VM, Amsterdam",375000,4360,12.0,0,0,1953,76,305,86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,"Pisuissehof 21, 1068 VW, Amsterdam",425000,4570,4.0,0,0,1960,67,310,93,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,"Jaap Speyerstraat 48, 1087 MK, Amsterdam",650000,4305,3.0,0,0,2017,122,518,151,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,"J. Calsstraat 4, 1067 WG, Amsterdam",365000,4101,3.0,0,0,1990,121,352,89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,"Burgemeester De Vlugtlaan 223, 1063 BL, Amsterdam",250000,3623,0.0,0,0,1952,0,236,69,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,"Amsteldijk 47 - 3, 1074 HW, Amsterdam",315000,8750,0.0,0,0,1916,0,130,36,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17,"Haparandadam 2, 1013 AK, Amsterdam",895000,6630,0.0,0,0,2018,0,483,135,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,"Groenendaalstraat 47, 1058 LE, Amsterdam",595000,3696,0.0,0,0,1932,0,603,161,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19,"Kamperfoelieweg 106, 1032 HS, Amsterdam",400000,3922,0.0,150,0,1925,0,325,102,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,"Jan Olphert Vaillantlaan 46, 1086 ZA, Amsterdam",940000,3837,0.0,0,0,2006,126,904,245,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
21,"Aalsmeerweg 97, 1059 AE, Amsterdam",700000,6195,0.0,0,0,1933,0,399,113,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,"Javastraat 180, 1095 CN, Amsterdam",325000,5159,0.0,0,0,1924,0,220,63,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
23,"Surinamestraat 38 2, 1058 GK, Amsterdam",500000,5155,0.0,0,0,1956,0,327,97,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,"Lutmastraat 69, 1073 GP, Amsterdam",425000,6855,0.0,0,0,1921,0,224,62,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,"Burgemeester Hogguerstraat 637, 1064 CX, Amste...",325000,4167,0.0,0,0,1965,0,252,78,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,"Orteliusstraat 146, 1057 BH, Amsterdam",299000,5436,0.0,81,0,1927,0,140,55,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
27,"Houdringe 61, 1025 BB, Amsterdam",275000,3571,0.0,0,0,1967,0,243,77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,"Clara Zetkinstraat 12, 1103 DH, Amsterdam",360000,3750,0.0,0,0,1997,111,250,96,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,"De Sitterstraat 9, 1097 JV, Amsterdam",795000,7571,0.0,0,0,2020,105,372,105,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0