# Retrieve data
Now we have several functions with which we can get our data easily.

In [1]:
# Import libraries
import importlib
importlib.import_module("json_dataframe")

import json_dataframe
import pandas as pd

### Convert scraped data to dataframe
The data we got from scraping is stored in a JSON file. With our function we can import, clean and export the data. The initial walkthrough is in data_cleaning.ipynb.

In [2]:
json_dataframe.clean_dataset("sold.json")

Created DataFrame with 4430 rows.
Rename columns...
Drop irrelevant cols & rows...
Extract numeric information...
Set binary columns...
Create dummy columns for categorical columns...
Please provide Google Maps API key:
········
Fetch coordinates and bin into neighborhoods...
Successfully exported to '..\data\sold.pkl'.

### Combine data
We have scraped data for property currently on sale and also listings already sold. With this function we can combine the two.

In [3]:
json_dataframe.combine_df("sale.pkl", "sold.pkl")

Successfully exported as ..\data\combination.pkl.

In [4]:
pd.read_pickle("../data/sold.pkl")

,address,asking_price,price_m2,vve_contribution,service_fees_pm,days_online,new_build,build_year,property_m3,land_m2,...,ne_zeeburgereiland_zuidwest,ne_zeeheldenbuurt,ne_zuidas_noord,ne_zuidas_zuid,ne_zuiderkerkbuurt,ne_zuidoostkwadrant_indische_buurt,ne_zuidwestkwadrant_indische_buurt,ne_zuidwestkwadrant_osdorp_noord,ne_zuidwestkwadrant_osdorp_zuid,ne_zunderdorp
0,"Haparandadam 2, 1013 AK, Amsterdam",895000,6630,318.89,0,71,0,2018,483,0,...,0,0,0,0,0,0,0,0,0,0
1,"Burgemeester De Vlugtlaan 223, 1063 BL, Amsterdam",250000,3623,210.00,0,25,0,1952,236,0,...,0,0,0,0,0,0,0,0,0,0
2,"Orteliusstraat 146, 1057 BH, Amsterdam",299000,5436,81.00,81,19,0,1927,140,0,...,0,0,0,0,0,0,0,0,0,0
3,"Houdringe 61, 1025 BB, Amsterdam",275000,3571,150.45,0,70,0,1967,243,0,...,0,0,0,0,0,0,0,0,0,0
4,"Clara Zetkinstraat 12, 1103 DH, Amsterdam",360000,3750,0.00,0,566,0,1997,250,111,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4371,"Haparandaweg 692, 1013 BD, Amsterdam",660000,6346,170.00,0,196,0,2014,337,0,...,0,0,0,0,0,0,0,0,0,0
4372,"Orteliusstraat 293, 1056 NX, Amsterdam",599000,6885,90.00,90,181,0,1927,270,0,...,0,0,0,0,0,0,0,0,0,0
4373,"Wijsmullerstraat 34, 1058 JK, Amsterdam",425000,7456,102.22,0,170,0,1932,189,0,...,0,0,0,0,0,0,0,0,0,0
4374,"Edenburg 76, 1103 BJ, Amsterdam",450000,3435,0.00,0,208,0,2016,471,132,...,0,0,0,0,0,0,0,0,0,0
4375,"Borneostraat 10, 1094 CJ, Amsterdam",400000,7547,37.00,0,222,0,1902,172,0,...,0,0,0,0,0,0,0,0,0,0