# Retrieve data
Now we have several functions with which we can get our data easily.

In [1]:
# Import libraries
import importlib
importlib.import_module("json_dataframe")

import json_dataframe
import pandas as pd

### Convert scraped data to dataframe
The data we got from scraping is stored in a JSON file. With our function we can import, clean and export the data. The initial walkthrough is in data_cleaning.ipynb.

In [2]:
json_dataframe.clean_dataset("sale.json")

Rename columns...
Drop irrelevant cols & rows...
Extract numeric information...
Set binary columns...
Create dummy columns for categorical columns...
Please provide Google Maps API key:
········
Fetch coordinates and bin into neighborhoods...
Successfully exported to '..\data\sale.pkl'.

### Combine data
We have scraped data for property currently on sale and also listings already sold. With this function we can combine the two.

In [7]:
json_dataframe.combine_df("sale.pkl", "sold.pkl")

Successfully exported as ..\data\combination.pkl.

In [9]:
pd.read_pickle("../data/combination.pkl")

,address,asking_price,price_m2,days_online,service_fees_pm,vve_contribution,new_build,build_year,land_m2,property_m3,...,ne_landelijk_gebied_driemond,ne_leidsebuurt_zuidwest,ne_nieuwendammerdijk_oost,ne_osdorp_midden_noord,ne_planciusbuurt_noord,ne_vondelpark_oost,ne_vu-kwartier,ne_woon-_en_groengebied_sloterdijk,ne_zeeburgereiland_zuidwest,ne_zuidas_noord
0,"Zuideinde 355, 1035 PD, Amsterdam",695000,6950,1.0,0,0.00,0,1952,307,350,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Lutmastraat 237, 1074 TX, Amsterdam",640000,9143,14.0,0,0.00,0,1895,77,270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Brigantijnkade 46, 1086 VB, Amsterdam",625000,4340,14.0,14,0.00,0,2009,133,519,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Meteorenweg 86, 1033 HG, Amsterdam",325000,5159,12.0,0,0.00,0,1922,136,245,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Bosplaat 25, 1025 AR, Amsterdam",700000,5833,14.0,0,0.00,0,1973,160,273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8043,"Haparandaweg 692, 1013 BD, Amsterdam",660000,6346,0.0,0,170.00,0,2014,0,337,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8044,"Orteliusstraat 293, 1056 NX, Amsterdam",599000,6885,0.0,90,90.00,0,1927,0,270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8045,"Wijsmullerstraat 34, 1058 JK, Amsterdam",425000,7456,0.0,0,102.22,0,1932,0,189,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8046,"Edenburg 76, 1103 BJ, Amsterdam",450000,3435,0.0,0,0.00,0,2016,132,471,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8047,"Borneostraat 10, 1094 CJ, Amsterdam",400000,7547,0.0,0,37.00,0,1902,0,172,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0