In [1]:
import pandas as pd

In [2]:
df = pd.read_json("../scraping/ams_sale.json")

In [3]:
df.shape

(4091, 78)

In [4]:
df.columns

Index(['address', 'postcode', 'city', 'OVE-Vraagprijs',
       'OVE-Vraagprijs per m²', 'OVE-Aangeboden sinds', 'OVE-Status',
       'OVE-Aanvaarding', 'BOU-Soort woonhuis', 'BOU-Soort bouw',
       'BOU-Bouwjaar', 'BOU-Soort dak', 'OPP-', 'OPP-Perceel', 'OPP-Inhoud',
       'IND-Aantal kamers', 'IND-Aantal badkamers',
       'IND-Badkamervoorzieningen', 'IND-Aantal woonlagen',
       'IND-Voorzieningen', 'ENE-Energielabel', 'ENE-Isolatie',
       'ENE-Verwarming', 'ENE-Warm water', 'ENE-Cv-ketel', 'KAD-', 'BUI-Tuin',
       'BUI-Balkon/dakterras', 'GAR-Soort garage', 'GAR-Capaciteit',
       'GAR-Voorzieningen', 'PAR-Soort parkeergelegenheid', 'BUI-Ligging',
       'BUI-Voortuin', 'BUI-Ligging tuin', 'OVE-Servicekosten',
       'BOU-Specifiek', 'BUI-Zonneterras', 'BER-Schuur/berging',
       'BER-Voorzieningen', 'BUI-Achtertuin', 'BER-Isolatie', 'BOU-Keurmerken',
       'BUI-Patio/atrium', 'OVE-Bijdrage VvE', 'BOU-Soort appartement',
       'BOU-Bouwperiode', 'IND-Gelegen op', 'VVE-Inschrijving KvK',
       'VVE-Jaarlijkse vergadering', 'VVE-Periodieke bijdrage',
       'VVE-Reservefonds aanwezig', 'VVE-Onderhoudsplan',
       'VVE-Opstalverzekering', 'GAR-Isolatie', 'BOU-Toegankelijkheid',
       'OVE-Oorspronkelijke vraagprijs', 'ENE-Voorlopig energielabel',
       'OVE-Huurprijs', 'OVE-Huurovereenkomst', 'BUI-Plaats', 'BUI-Zijtuin',
       'OVE-Oorspronkelijke huurprijs', 'BOU-Soort overig aanbod',
       'BED-Praktijkruimte', 'OVE-Koopmengvorm',
       'BOU-Soort parkeergelegenheid', 'IND-Capaciteit', 'IND-Afmetingen',
       'VEI-Prijs', 'VEI-Veilingperiode', 'VEI-Soort veiling',
       'VEI-Veilingpartij', 'BED-Bedrijfsruimte', 'BED-Kantoorruimte',
       'BED-Winkelruimte', 'IND-Perceel', 'BOU-Soort object'],
      dtype='object')

In [5]:
df.head()

,address,postcode,city,OVE-Vraagprijs,OVE-Vraagprijs per m²,OVE-Aangeboden sinds,OVE-Status,OVE-Aanvaarding,BOU-Soort woonhuis,BOU-Soort bouw,...,IND-Afmetingen,VEI-Prijs,VEI-Veilingperiode,VEI-Soort veiling,VEI-Veilingpartij,BED-Bedrijfsruimte,BED-Kantoorruimte,BED-Winkelruimte,IND-Perceel,BOU-Soort object
0,Buiksloterbreek 41,1034 XC,Amsterdam,€ 475.000 kosten koper,€ 5.220,26 september 2020,Beschikbaar,In overleg,"Eengezinswoning, geschakelde woning",Bestaande bouw,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arènpalmstraat 16,1104 DB,Amsterdam,€ 425.000 kosten koper,€ 3.400,17 september 2020,Beschikbaar,In overleg,"Eengezinswoning, hoekwoning",Bestaande bouw,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Brigantijnkade 46,1086 VB,Amsterdam,€ 625.000 kosten koper,€ 4.340,18 september 2020,Beschikbaar,In overleg,"Villa, vrijstaande woning (waterwoning)",Bestaande bouw,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bosplaat 25,1025 AR,Amsterdam,€ 700.000 kosten koper,€ 5.833,19 september 2020,Beschikbaar,In overleg,"Bungalow, tussenwoning (semi-bungalow)",Bestaande bouw,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ben van Meerendonkstraat 156,1087 LN,Amsterdam,€ 779.000 kosten koper,€ 4.839,18 september 2020,Beschikbaar,In overleg,"Herenhuis, tussenwoning",Bestaande bouw,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.loc[df["ENE-Energielabel"] == "A", ["address", "OVE-Vraagprijs"]]

                                    address          OVE-Vraagprijs
1                         Arènpalmstraat 16  € 425.000 kosten koper
2                         Brigantijnkade 46  € 625.000 kosten koper
4              Ben van Meerendonkstraat 156  € 779.000 kosten koper
8                           Twellostraat 15  € 425.000 kosten koper
10                              Emanzana 60  € 435.000 kosten koper
...                                     ...                     ...
4038                             Muiderlaan  € 520.000 vrij op naam
4039                             Muiderlaan  € 537.500 vrij op naam
4073  Tweede Jan van der Heijdenstraat 95 A  € 499.000 kosten koper
4082             Jacob van Lennepkade 390 H  € 679.000 kosten koper
4083                   Gerard Doustraat 1 A  € 495.000 kosten koper

[603 rows x 2 columns]

In [14]:
pd.to_numeric(df["OVE-Vraagprijs per m²"])

ValueError: Unable to parse string "€ 5.220" at position 0

In [25]:
df["PAR-Soort parkeergelegenheid"].value_counts(dropna=False)

Openbaar parkeren                                               14
Op eigen terrein en openbaar parkeren                            9
Betaald parkeren en parkeervergunningen                          2
Op eigen terrein                                                 2
Betaald parkeren, openbaar parkeren en parkeervergunningen       1
Op afgesloten terrein, op eigen terrein en openbaar parkeren     1
Parkeervergunningen                                              1
Name: PAR-Soort parkeergelegenheid, dtype: int64

In [16]:
df[df["BED-Bedrijfsruimte"].notnull()]

,address,postcode,city,OVE-Vraagprijs,OVE-Vraagprijs per m²,OVE-Aangeboden sinds,OVE-Status,OVE-Aanvaarding,BOU-Soort woonhuis,BOU-Soort bouw,...,IND-Afmetingen,VEI-Prijs,VEI-Veilingperiode,VEI-Soort veiling,VEI-Veilingpartij,BED-Bedrijfsruimte,BED-Kantoorruimte,BED-Winkelruimte,IND-Perceel,BOU-Soort object
1363,Osdorperweg 578,1067 SZ,Amsterdam,€ 1.950.000 kosten koper,€ 6.331,6+ maanden,Beschikbaar,In overleg,"Landgoed, vrijstaande woning",Bestaande bouw,...,NaN,NaN,NaN,NaN,NaN,"293 m², vrijstaand",NaN,NaN,NaN,NaN
1970,Houtmankade 37,1013 MR,Amsterdam,€ 2.250.000 kosten koper,€ 10.465,5 maanden,Beschikbaar,In overleg,"Grachtenpand, tussenwoning",Bestaande bouw,...,NaN,NaN,NaN,NaN,NaN,"485 m², inpandig",NaN,NaN,NaN,NaN
2135,Ertskade 151,1019 ED,Amsterdam,€ 675.000 kosten koper,€ 5.870,4 maanden,Verkocht onder voorbehoud,In overleg,"Eengezinswoning, tussenwoning (patiowoning)",Bestaande bouw,...,NaN,NaN,NaN,NaN,NaN,"Niet aanwezig, wel mogelijk (inpandig)",NaN,NaN,NaN,NaN
2441,Prinsengracht 862,1017 JN,Amsterdam,€ 3.200.000 kosten koper,€ 7.306,5 weken,Beschikbaar,In overleg,"Grachtenpand, tussenwoning",Bestaande bouw,...,NaN,NaN,NaN,NaN,NaN,"Niet aanwezig, wel mogelijk (inpandig)",NaN,NaN,NaN,NaN

In [15]:
df.isna().sum()

address                     0
postcode                    0
city                        0
OVE-Vraagprijs              3
OVE-Vraagprijs per m²     119
                         ...
BED-Bedrijfsruimte       4087
BED-Kantoorruimte        4089
BED-Winkelruimte         4089
IND-Perceel              4077
BOU-Soort object         4087
Length: 78, dtype: int64

In [25]:
df["OVE-Vraagprijs"] = (df["OVE-Vraagprijs"]
                        .str.extract(r"€ (\S+)", expand=False)
                        .str.replace(".", "")
                        .fillna(0)
                        .astype(int))

In [30]:
df["OVE-Vraagprijs"].describe()

count    4.091000e+03
mean     7.110442e+05
std      6.745638e+05
min      0.000000e+00
25%      3.650000e+05
50%      5.250000e+05
75%      8.250000e+05
max      1.150000e+07
Name: OVE-Vraagprijs, dtype: float64

In [31]:
df["OVE-Vraagprijs"].max()

11500000

In [32]:
df[df["OVE-Vraagprijs"] == df["OVE-Vraagprijs"].max()]

,address,postcode,city,OVE-Vraagprijs,OVE-Vraagprijs per m²,OVE-Aangeboden sinds,OVE-Status,OVE-Aanvaarding,BOU-Soort woonhuis,BOU-Soort bouw,...,IND-Afmetingen,VEI-Prijs,VEI-Veilingperiode,VEI-Soort veiling,VEI-Veilingpartij,BED-Bedrijfsruimte,BED-Kantoorruimte,BED-Winkelruimte,IND-Perceel,BOU-Soort object
2902,Dam 3 #9,1012 JS,Amsterdam,11500000,€ 37.705,6+ maanden,Beschikbaar,In overleg,NaN,Nieuwbouw,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN